body {
    font-family: Arial, sans-serif;
    text-align: center;
   
}

h1 {
    color: #333;
}

#dog-images-container {
    display: flex; /* utilizo flexbox para alinear las imágenes horizontalmente */
    flex-wrap: wrap; /* si la imagen no entra en la fila horizonta se moverá automáticamente a la siguiente fila. */
    justify-content: center; /* Centrar horizontalmente las imágenes */
}

img {
    max-width: 100%;
    height: 235px; /* altura de imágenes */
    width: 235px; /* ancho de imágenes */
    border: 1px solid #333;
    margin: 10px; /* pequeño margen entre las imágenes */
    border-radius: 20px;
}

.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 20px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: rgb(203, 18, 18);
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }